# ignore temp files
.idea/
.git/

# ignore tutorial file
resources/

# ignore sentence-transformer model
res/AI_Note/sentence-transformer/
res/AI_Note/data_base/
res/RecipeMaster_RAG/data_base/
/res/RecipeMaster_RAG/data_base/
/res/RecipeMaster_hf_adapter/

# ignore trainning datasets
/res/knowledge_graph_llm/TrainingUtils/input_dir/
/res/knowledge_graph_llm/TrainingUtils/output_dir/
/res/knowledge_graph_llm/TrainingUtils/raw_dir/
/res/knowledge_graph_llm/TrainingUtils/xtuner_train/
/res/knowledge_graph_llm/TrainingUtils/hf_train/
/res/knowledge_graph_llm/TrainingUtils/T2KG/
/res/utils/getData/full_links.txt
/res/utils/getData/links.txt
